/* style.css */

/* Estilos gerais para o corpo do documento */
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333; /* Cor de texto padrão */
    background-color: #f8f8f8; /* Fundo levemente cinza */
}
header {
  background-color: #4ada5d;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.imagem-banner{
    width: 19%;
    display: inline-grid;
}


/* Container principal para centralizar o conteúdo */
.container {
    max-width: 1200px; /* Largura máxima para o conteúdo */
    margin: 0 auto; /* Centraliza o container */
    padding: 20px;
}

/* Estilos para o cabeçalho */
#banner-texto {
    background-color: #4CAF50; /* Verde vibrante */
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 15px; /* Cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 30px;
}

header h1 {
    font-size: 3em; /* Tamanho maior para o título principal */
    margin-bottom: 10px;
}

header h2 {
    font-size: 2em; /* Tamanho para o subtítulo */
    font-weight: 400;
}

/* Estilos para as seções de conteúdo */
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Layout responsivo em grade */
    gap: 25px; /* Espaçamento entre as seções */
}

section {
    background-color: white;
    padding: 25px;
    border-radius: 12px; /* Cantos arredondados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); /* Sombra mais leve */
    border-bottom: 5px solid #8BC34A; /* Borda inferior verde claro */
    transition: transform 0.3s ease-in-out; /* Transição para efeito hover */
}

section:hover {
    transform: translateY(-5px); /* Efeito de elevação no hover */
}

section h3 {
    color: #4CAF50; /* Cor verde para os títulos das seções */
    font-size: 1.8em;
    margin-bottom: 15px;
    font-weight: 600;
}

section ul {
    list-style: disc; /* Marcadores de lista */
    padding-left: 25px;
    margin: 0;
}

section ul li {
    margin-bottom: 8px;
    font-size: 1.1em;
}

/* Estilos para o rodapé */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    color: #666;
    font-size: 0.9em;
}

/* Estilos para responsividade em telas menores */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    header h2 {
        font-size: 1.5em;
    }

    section h3 {
        font-size: 1.5em;
    }

    section ul li {
        font-size: 1em;
    }
}
